<div class='userProfile' *ngIf='user'>
    <div class='user'>
        <img class='userImage' [src]='sanitizer.bypassSecurityTrustResourceUrl(imageSrc)' alt='{{user.userName}}' />
        <div class='userDetails'>
            <div class='userName'>
                <mat-icon svgIcon='flash' aria-hidden='false' aria-label='flash_on'></mat-icon>{{user.userName}}
            </div>
            <div>Registration date: {{registertiontDate}}</div>
            <div>Last login date: {{loginDate}}</div>
        </div>
    </div>
    <app-tweets-list [userName]='user.userName'></app-tweets-list>
</div>