.container {
    width: 40%;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-start;
    z-index: 1;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    justify-content: space-between;
    padding-top: 20px;
}

.closeBtn {
    width: fit-content;
    height: 25px;
    color: #211d57;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    border: none;
    border-radius: 3px;
}

.closeBtn:hover {
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
}

.options {
    display: flex;
    flex-flow: column;
}

@media screen and (max-width: 350px) {
    .container {
        width: 70%;
    }
}