<form [formGroup]='contactForm' class="registerForm" (ngSubmit)='onSubmit()'>
    <div class='title'> {{'register.title' | translate}}</div>
    <div class='inputContainer'>
        <mat-form-field>
            <input matInput placeholder="{{'register.email' | translate}}" formControlName='email' required>
            <mat-error *ngIf="emailField.invalid && emailField.errors.required">{{'register.enterValueMsg' | translate}}
            </mat-error>
            <mat-error *ngIf="emailField.invalid && emailField.errors.email">{{'register.invalidEmailMsg' | translate}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="{{'register.username' | translate}}" formControlName='username' required>
            <mat-error *ngIf="usernameField.invalid">{{'register.enterValueMsg'| translate}}</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="{{'register.passwordHint' | translate}}">
            <input type='password' #input matInput placeholder="{{'register.password' | translate}}"
                formControlName='password' required>
            <mat-error *ngIf="passwordField.invalid && passwordField.errors.required">
                {{'register.enterValueMsg'| translate}}</mat-error>
            <mat-error *ngIf="passwordField.invalid && passwordField.errors.pattern">
                {{'register.invalidPassword'| translate}}</mat-error>
        </mat-form-field>
        <div class='imageInput'>
            <label>{{'register.userImage' | translate}}</label>
            <input id='avatar' type='file' placeholder='Image' (change)="onFileChange($event)" #fileInput>
        </div>
        <span class='errorMsg' *ngIf='duplicateName'>{{'register.nameExistsMsg'| translate}}</span>
        <span class='errorMsg' *ngIf='duplicateEmail'>{{'register.emailExistsMsg'| translate}}</span>
        <button type='submit' class='buttons' mat-raised-button color="primary"
            [disabled]="!contactForm.valid">{{'register.submit' | translate}}</button>
        <div class='spinner' *ngIf='spin'>
            <mat-spinner [diameter]='50' aria-label='signing In'></mat-spinner>
        </div>
    </div>
</form>